@media screen and (max-width: 1026px) {
    h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 855px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 55px;
        text-align: center;
    }

    form {
        align-items: center;
        margin: 0px auto;
    }

    input {
        padding-right: 35px;
        padding-left: 35px;
    }

    article {
        max-width: 380px;
        margin: 0 auto;
    }

    #title2 {
        font-size: 35px;
        margin-top: 80px;
        text-align: center;
    }

    p {
        width: 360px;
    }

    #title > img {
        width: 80px;
    }
}