@charset "UTF-8";

body {
    background-color: black;
    background-image: none url('../images/background2/IMG-20260328-WA0035~3.jpg');
    color: white;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 500px;
    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.menu > a {
    border: 2px solid darkgreen;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.menu {
    align-self: flex-start;
    position: absolute;
    right: 20px;
}

div > a:hover {
    background-color: darkgreen;
    transition: 0.5s;
}

#title1 {
    line-height: 15px;
    text-align: center;
    font-size: 40px;
    max-width: 800px;
    font-family: Syne;
    font-variation-settings: "wght" 700;
    font-weight: 700;
    margin: 0 auto;
}

img {
    width: 200px;
}

.azul {
    color: darkgreen;
    font-family: Lexend Tera;
    font-variation-settings: "wght" 900;
}

#h1title {
    font-size: 45px;
}

#destaque {
    font-weight: 800;
    font-variation-settings: "wght" 800;
    text-decoration: underline;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.produtobtm {
    border-radius: 20px;
    margin: 20px;
    width: 500px;
    text-align: center;
}

.produtobtm > a:hover {
    background-color: rgb(0, 77, 0);
    box-shadow: inset 0px -10px 5px -3px rgb(0, 19, 0);
    transition: 0.5s;
    cursor: pointer;
}

.produtobtm > a {
    background-color: darkgreen;
    box-shadow: inset 0px -10px 5px -3px rgb(0, 33, 0);
    border-radius: 20px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    font-family: Lexend Exa;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    padding: 20px;
}