@charset "UTF-8";

body {
    background-color: black;
    background-image: url(../images/backgrounds/bg5.jpeg);
    background-position: 0px -80px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Noto Sans;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title > img{
    width: 100px;
}

h1 {
    font-weight: 500;
    font-style: italic;
}

#boldh1 {
    font-weight: 600;
    color: #9628F5;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E7D0BE;
    transition: 0.3s;
}

#cttbtm {
    border: 2px solid rgb(0, 0, 146);
    border-radius: 20px;
    padding: 10px;
}

#cttbtm:hover {
    background-color: rgb(0, 0, 146);
    color: white;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

h2 {
    line-height: 20px;   
    font-size: 85px;
    font-weight: 900;
    font-family: Poppins;
    margin-top: 80px;
}

#title2 {
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: -80px;
    line-height: 15px;
}

span {
    font-weight: bolder;
}

p {
    max-width: 430px;
    margin-top: 120px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    width: 70%;
}

form [type="submit"] {
    background-color: rgb(0, 0, 146);
    color: white;
    box-shadow: 0 8px 20px #00000031;
    width: 50%;
    display: block;
    margin: 20px auto;
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 201);
    transition: 0.5s;
}

input {
    background-color: #FFFFFF;
    color: #363D43;
    margin-top: 20px;
    padding: 18px;
    border-radius: 25px;
    border: none;
}

img {
    max-width: 650px;
}